{
	frankenphp
	{$CADDY_GLOBAL_OPTIONS}
}

{$SERVER_NAME:localhost} {
	log {
		output stderr
	}

	root * /app/public
	encode zstd br gzip

	# Active le hub Mercure intégré, requis pour le hot reload
	mercure {
		anonymous
	}

	php_server {
		# Active le hot reload (PHP, Twig, CSS, JS...)
		hot_reload
	}
}
